@charset "UTF-8";

/*------------------------------
	メインＣＳＳファイル
-------------------------------*/

* {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.2em;
}

img {
	border: 0;
}

/* ---------------------------
 基本のスタイル
------------------------------*/
body {
	background-color: #CCFFCC;
	font-family: sans-serif,"メイリオ";
	font-size: 90%;
}
address {
	font-style: normal;
}

/* ----------------------------
 ページ本体
-------------------------------*/
#wrapper {
	width: 600px;
	margin: 10px auto;
	background: #FFFFFF;
	color: #000000;
}

/* ----------------------------
 ヘッダ
-------------------------------*/
#header {
	background: url(images/header.png) top left no-repeat;
	position: relative;
	height: 82px;
}
#header #site-logo {
	position: absolute;
	top: 20px;
	left: 20px;
}

/*-----------------------------
 フッタ
-------------------------------*/
#footer {
	background: url(images/footer.png) top left no-repeat;
	height: 61px;
	position: relative;
	/* floatクリア */
	clear: both;
}
#footer address {
	display: block;
	width: 100%;
	position: absolute;
	top: 20px;
	color: #FFFFFF;
	text-align: center;
}

/*-----------------------------
 段組
------------------------------*/
#container {
	margin: 10px;
	width: 580px;
}
#container #main {
	float: left;
	width: 350px;
	margin-right: 10px;
}
#container #sub {
	float: right;
	width: 220px;
}

/*-----------------------------
 メインメニュー
-------------------------------*/
#global-nav {
	margin-bottom:10px;
	background: url(images/global-nav-bg.png) no-repeat;
 	background-position: 10px 0;
	height: 40px;
}
#global-nav ul {
	list-style: none;
	width: 580px;
	margin-left:10px;
	height: 40px;
}
#global-nav ul li {
	float: left;
	width: 90px;
	height: 40px;
}
#global-nav ul li a {
	display: block;
	height: 40px;
	text-indent: -9999px;
 	overflow: hidden;
}
/* ---nav01--- */
#nav01 a {
	background: url(images/global-nav.png) no-repeat;
	background-position: 0 0;
}
/* ---nav02--- */
#nav02 a {
	background: url(images/global-nav.png) no-repeat;
	background-position: -90px 0;
}
/* ---nav03--- */
#nav03 a {
	background: url(images/global-nav.png) no-repeat;
	background-position: -180px 0;
}
/* ---nav04--- */
#nav04 a {
	background: url(images/global-nav.png) no-repeat;
	background-position: -270px 0;
}

/*----------------------------
トップイメージ
------------------------------*/
#top-image {
	margin: 0 10px;
}

/*---------------------------
 お知らせリスト
----------------------------*/
#sub dl dt {
	background: url(images/arrow.png) center left no-repeat;
	padding-left:15px;
}
#sub dl dd {
	margin: 0 0 8px 15px;
}